<div class="container">

    <div class="value_bar">
        <h3>Selecione o valor do aluguel desejado:</h3>
        <label for="customRange1" class="form-label">R$:</label>
        <input type="range" class="form-range" id="customRange1">
    </div>

    <div class="buy_fin_group2">
        <p>Valor da garantia:</p>
        <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">,00</span>
        </div>
        <p>Meses de permanência:</p>
        <select class="form-select" size="2" aria-label="Size 3 select example">
            <option selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>

        <div class="btn_submit">
            <button type="button" class="btn btn-outline-success">Calcular aluguel</button>
        </div>
    </div>
</div>

