<div class="container">
    <div class="value_bar">
        <h3>Selecione o valor do aluguel desejado:</h3>
        <label for="customRange1" class="form-label">R$:</label>
        <input type="range" class="form-range" id="customRange1" [(ngModel)]="valorAluguel" [min]="valorMinimo" [max]="valorMaximo">
        <p>Valor selecionado: R$ {{ valorAluguel }}</p>
    </div>

    <div class="rent_details">
        <p>Insira o número mínimo de meses de permanência:</p>
        <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="mesesPermanencia" min="1">
            <span class="input-group-text">meses</span>
        </div>

        <div class="btn_submit">
            <button type="button" class="btn btn-outline-success" (click)="calcularAluguel()">Calcular Aluguel</button>
        </div>
    </div>

    <div class="result" *ngIf="resultado">
        <h4>Resultado do Cálculo:</h4>
        <p>Valor do Aluguel: R$ {{ valorAluguel }}</p>
        <p>Meses de Permanência: {{ mesesPermanencia }}</p>
        <p>Total Estimado: R$ {{ totalEstimado }}</p>
    </div>
</div>
