<div class="container">

    <!-- Seleção de valor -->
    <div class="value_bar">
        <h3>Selecione o valor desejado:</h3>
        <label for="customRange1" class="form-label">R$:</label>
        <input type="range" class="form-range" id="customRange1" [(ngModel)]="valorCompra" [min]="valorMinimo" [max]="valorMaximo">
        <p>Valor selecionado: R$ {{ valorCompra }}</p>
    </div>

    <!-- Alternar entre "à vista" e "financiamento" -->
    <div class="buy_fin_group">
        <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked (click)="setarOpcao('avista')">
        <label class="btn" for="option5">À vista</label>
    
        <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off" (click)="setarOpcao('financiamento')">
        <label class="btn" for="option6">Financiamento</label>
    </div>

    <!-- Botão "Prosseguir" para "À vista" -->
    <div class="btn_submit" *ngIf="opcao === 'avista'">
        <button type="button" class="btn btn-outline-success" (click)="mostrarResultado()">Prosseguir</button>
    </div>

    <!-- Detalhes do financiamento -->
    <div class="buy_fin_group2" *ngIf="opcao === 'financiamento'">
        <p>Insira o valor do financiamento:</p>
        <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input type="number" class="form-control" [(ngModel)]="valorFinanciamento" min="0" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">,00</span>
        </div>
        <p>Quantidade de parcelas:</p>
        <select class="form-select" [(ngModel)]="quantidadeParcelas">
            <option *ngFor="let parcela of parcelas" [value]="parcela">{{ parcela }}</option>
        </select>

        <div class="btn_submit">
            <button type="button" class="btn btn-outline-success" (click)="calcularFinanciamento()">Calcular Financiamento</button>
        </div>
    </div>

    <!-- Exibição dos resultados -->
    <div class="result" *ngIf="resultado">
        <h4>Resultado do Cálculo:</h4>
        <p *ngIf="opcao === 'avista'">Valor à Vista: R$ {{ valorCompra }}</p>
        <p *ngIf="opcao === 'financiamento'">Valor do Financiamento: R$ {{ valorFinanciado | number: '1.2-2' }}</p>
        <p *ngIf="opcao === 'financiamento'">Total com Juros: R$ {{ totalComJuros | number: '1.2-2' }}</p>
    </div>
</div>
