<img class="background_image" src="assets/images/background.jpg">
<img class="center_image" src="assets/images/Logo Site.png">

<div class="box_informations">
    <div class="information_box">
        <h4>OLÁ,</h4>
        <h4>SEJA BEM-VINDO A NOSSA IMOBILIÁRIA!</h4>
        
        <h5><p>Sua casa, sua aura!</p></h5>
        <h6>Descubra o imóvel ideal para você. 🏡</h6>
        <h6>Apartamentos, casas e terrenos em localizações privilegiadas.</h6>   
        <p>Atendimento personalizado e soluções completas para facilitar sua vida.</p>    
        <p>Comece sua busca agora mesmo!</p>
    </div>
</div>

